<div class="container-fluid text-center" id="centro">
    <div class="row">
        <div class="col-4 offset-4">
            <div id="show" class="font-weight-bold h4"></div>
            <button class="btn-dark btn-lg mt-5" onclick="showclient()">SHOW</button>
            <button class="btn-dark btn-lg mt-5" onclick="eraseclient()">ERASE</button>
        </div>
    </div>
    <div class="mt-5">
        <a href="#!" class="btn-dark btn-block btn-lg text-center" type="button" value="goback">Go Back</a>
    </div>
</div>