<div id="centro" class="container-fluid">
    <p class="h1 text-center">
        Academy System 0.1
    </p>
    <p class="h2 text-center">
        Choose one of this options
    </p>
<!-- Dropdown Client -->
<div class="row mt-5">
    <div class="col-12 col-md-4 offset-md-4">
        <div class="dropdown text-center">
            <button class="btn btn-dark btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Client Area
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#!newclient">Insert Client</a>
            <a class="dropdown-item" href="#!listclient">List Client</a>
            </div>
        </div>
    </div>
</div>
<!-- Dropdown Exercise -->
<div class="row mt-5">
    <div class="col-12 col-md-4 offset-md-4">
        <div class="dropdown text-center">
            <button class="btn btn-dark btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Exercise Area
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#!newexercise">Insert Exercise</a>
            <a class="dropdown-item" href="#!listexercise">List Exercise</a>
            </div>
        </div>
    </div>
</div>
<!-- Dropdown IMC -->
<div class="row mt-5">
    <div class="col-12 col-md-4 offset-md-4">
        <div class="dropdown text-center">
            <button class="btn btn-dark btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            IMC Area
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#!calcimc">Insert IMC</a>
            <a class="dropdown-item" href="#!listimc">List IMC</a>
            </div>
        </div>
    </div>
</div>
</div>